.calendar {
    width: 45rem;
    height: 52rem;
    background-color: $topColor;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
    border-radius: 10px ;
    // margin: auto;
    &__month{
        width: 100%;
        height: 12rem;
        background-color: $dayColor;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
        text-align: center;
        // text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
        border-radius: 10px 10px 0 0;

        i{
            font-size: 2.5rem;
            cursor: pointer;
        }
        h1{
            font-size: 3rem;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            margin-bottom: 1rem;
            color: $topColor;
        }
        p{
          font-size: 1.6rem;
          color: $topColor;
          font-weight: bold;
        }
    }
    &__weekdays{
        width: 100%;
        height: 5rem;
        padding: 0 0.4rem;
        display: flex;
        align-items: center;

        div{
            font-size: 1.5rem;
            font-weight: 400;
            letter-spacing: 0.1rem;
            width: calc(44.2rem / 7);
            display: flex;
            justify-content: center;
            align-items: center;
            text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
        }
    }
    &__days{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0.2rem;

        div{
            font-size: 1.4rem;
            margin: 0.3rem;
            width: calc(40.2rem / 7);
            height: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
            transition: background-color 0.2s;

            &:hover:not(.today){
                background-color: #262626;
                border: 0.2rem solid #777;
                cursor: pointer;
                border-radius: 10px;
            }
        }

        &--prev-date{
            opacity: $dateOpacity;
        }

        &--next-date{
            opacity: $dateOpacity;
        }

        &--today{
            background-color: $dayColor;
            border-radius: 10px;
        }
    }
  }