.holes {
    position: absolute;
    left: 10px;
    height: 25px;
    width: 25px;
    background: ghostwhite;
    border-radius: 50%;
    box-shadow: inset 0px 0px 2px 0px #888;
  }
  .hole-top {
    top: 10%;
  }
  .hole-middle {
    top: 50%;
  }
  .hole-bottom {
    bottom: 10%;
  }