.weather{
    font-family: "Rimouski";
    width: 300px;    
    background-color: $dayColor;
    display: block;
    // margin: 0 auto;
    border-radius: 10px;
    // padding-bottom : 50px;
    position: absolute;
    right: 2%;
    top: 25%;

    &__app-title{
        width: 300px;
        height: 70px;
        border-radius: 10px 10px 0 0;

        p{
            text-align: center;
            padding: 15px;
            margin: 0 auto;
            font-size: 1.2em;
            color: $topColor;
            font-size: 3rem;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
        }
    }

    &__notification{
        background-color: #f8d7da;
        display: none;

        p{
            color: #721c24;
            font-size: 1.2em;
            margin: 0;
            text-align: center;
            padding: 10px 0;
        }
    }

    &__section{
        width: 300px;
        height: 260px;
        background-color: $topColor;
        border-radius: 0 0 10px 10px ;

        &--icon{
            width: 300px;
            height: 128px;

            img{
                display: block;
                margin: 0 auto;
            }
        }

        &--temperature-value{
            width: 300px;
            height:60px;

            p{
                padding: 0;
                margin: 0;
                color: $whiteColor;
                font-size: 4em;
                text-align: center;
                cursor: pointer;
            }

            span{
                color: $whiteColor;
                font-size: 0.5em;
            }
        }

        &--temperature-description{

            p{
                padding: 8px;
                margin: 0;
                color: $whiteColor;
                text-align: center;
                font-size: 1.2em;
            }
        }

        &--location{

            p{
                margin: 0;
                padding: 0;
                color: $whiteColor;
                text-align: center;
                font-size: 0.8em;
            }
        }
    }
}